body { 
  background-image:url("foto/bg.png");
}

button {
  position: fixed;
  font-family: sans-serif;
  font-size: large;
  top: 0;
  right: 0;
  background-color:rgb(0, 0, 0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  }


a {
   color: white;
   transition: color 0.3s ease-in-out 0s;
   position: relative;
   text-decoration: none;
}
a:hover {
       color: rgb(255, 111, 111);
       position: relative;
}

.active {
   color: rgb(100, 0, 0);
   font-style: bold;
}

.logo {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}  

.flex { 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

h1 {
  font-size: 115px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: sans-serif;
}

h2 {
  font-size: xx-large;
  color:rgb(128, 0, 0);
  font-family: sans-serif;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-style: bold;
}

h3 {
   font-size: x-large;
   font-family: sans-serif;
   color: rgb(0, 0, 0);
   width: 800px;
   margin-top: -15px;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
   font-style: italic;
}

h4 {
  font-size: large;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  width: 800px;
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-style: normal;
}

h5 {
  font-size: normal;
  font-family: sans-serif;
  color: rgb(65, 65, 65);
  width: 800px;
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-style: normal;
}

.icon { 
  height: 50px;
  width: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  }

.icon2 { 
  width: 50px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  position:absolute;
}

.icon:hover {
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  border-radius: 10px;
} 

.formular{
  width: 300px;
  max-width: 800px;
  padding:35px;
  margin: auto;
  font-family: sans-serif;
} 
.formular .controlls {
   width: 170px; 
   margin-block-end: 5px;
   height: 5px;
   background: #999999;
   padding: 5%;
   opacity: 70%;
   font-size: 15px;
   font-weight: normal;
}    
.formular .controlls2 {
   width: 300px; 
   margin-block-end: 5px;
   height: 50px;
   background: #999999;
   padding: 5%;
   opacity: 70%;
   font-size: 15px;
   font-weight: normal;
}    

.formular .bottons {
   margin-bottom: 10%;
   width: 50%;
   height: 30px;
   background:rgb(100, 0, 0) ;
   border: none;
   color: white;
   padding: center;
   font-weight: normal;
   font-size: 18px;
}    
