html{
    height: 100%;
}

body{
    background: linear-gradient(90deg, rgb(34, 34, 34), rgb(71, 0, 0));
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.drumpad{
    width: 500px;
    height: 500px;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.drumpad div{
    border-radius: 5%;
}

.pad1:active, .pad2:active, .pad3:active, .pad4:active, .pad5:active, .pad6:active, .pad7:active, .pad8:active, .pad9:active{
    transform: scale(0.95);
}

.pad1, .pad2, .pad3, .pad4{
    background: linear-gradient(rgb(167, 167, 167), rgb(255, 255, 255));
    width: 150px;
    height: 150px;
}

.pad5{
    background: linear-gradient(rgb(100, 74, 0), rgb(148, 101, 0));
    width: 150px;
    height: 150px;
}

.pad6, .pad9{
    background: linear-gradient(rgb(2, 0, 100), rgb(2, 0, 148));
    width: 150px;
    height: 150px;
}

.pad7, .pad8{
    background: linear-gradient(rgb(151, 0, 0), rgb(160, 36, 36));
    width: 150px;
    height: 150px;
}

.buttons{
    display: flex;
    position: relative;
    height: 0px;
}

 .fas{
    cursor: pointer;
    color: #FFFFFF;
    margin: 57px;
    font-size: 60px;
}


.fa-play, .fa-pause{
    position: absolute;
    left:0;
    height: 0;   
}

.inactive{
    visibility: hidden;
    cursor: none;
}

.active{
    color: red;
}